---
- hosts: localhost

  tasks:
    - name: Configure macos
      ansible.builtin.shell: scripts/osx_setup.sh > scripts/osx_setup_log.txt
      args:
        executable: /bin/zsh
        creates: scripts/osx_setup_log.txt

    - name: Install homebrew
      include_role:
        name: geerlingguy.mac.homebrew

    - name: Make sure homebrew bin is in path
      ansible.builtin.lineinfile:
        path: /etc/paths
        state: present
        line: '/opt/homebrew/bin'
      become: true
      become_user: root

    - name: Tap brew repo with Fira Code font
      ansible.builtin.shell: |
        brew tap homebrew/cask-fonts

    - name: Install homebrew packages (casks)
      community.general.homebrew_cask:
        name: "{{ item }}"
      ignore_errors: true
      with_items:
       - docker
       - google-chrome
       - telegram
       - visual-studio-code
       - zoom
       - the-unarchiver
       - discord
       - arduino
       - appcleaner
       - iterm2
       - font-fira-code
       - font-fira-mono
       - font-fira-sans
       - postman
       - tor-browser
       - multitouch # gesture
       - tunnelblick
       - disk-drill
       - outline-manager
      #  - paw # api client
       - shottr # screenshots
       - veracrypt
       - dropbox
      #  - temurin # java 18
       - steam
       - battle-net
       - transmission # torrent client
       - gifox # to record screen as gif
       - raycast # spotlight replacement
       - tableplus # relational db native gui client
      tags:
        - only-casks

    - name: Install homebrew packages (formulas)
      community.general.homebrew:
        name: [
          'htop',
          'micro',
          'volta',
          'postgresql',
          # 'mariadb',
          # 'bash',
          # 'bash-completion@2',
          'age',
          'go',
          'vegeta',
          # 'jenv',
          # 'openjdk@17',
          # 'openjdk@11',
          # 'mysql',
          'exa', # ls replacement
          'bat', # cat replacement
          'miniconda', # python
          'cmake',
          'protobuf',
          'rust',
          'wget'
        ]
        state: present
        update_homebrew: yes
      tags:
        - only-formulas







    - name: "Put zsh-completion script in .zshrc"
      ansible.builtin.lineinfile:
        path: ~/.zshrc
        line: '[[ -r "/opt/homebrew/etc/profile.d/bash_completion.sh" ]] && . "/opt/homebrew/etc/profile.d/bash_completion.sh"'
        create: yes
      tags:
        - update-zsh







######### JAVA ##########
######### JAVA ##########
######### JAVA ##########

    # - name: "Add jenv to PATH"
    #   ansible.builtin.blockinfile:
    #     path: ~/.bash_profile
    #     block: |
    #       export PATH="$HOME/.jenv/bin:$PATH"
    #       eval "$(jenv init -)"
    #     marker: '# jenv init'
    #   tags:
    #     - java

    # - name: "Use Temurin's Java with jenv"
    #   ansible.builtin.shell:
    #     executable: /bin/zsh
    #     cmd: |
    #       source ~/.bash_profile
    #       jenv enable-plugin export
    #       jenv add /Library/Java/JavaVirtualMachines/temurin-18.jdk/Contents/Home
    #       jenv add /opt/homebrew/opt/openjdk@17
    #       jenv add /opt/homebrew/opt/openjdk@11
    #       jenv global 11
    #   tags:
    #     - java

######### JAVA ##########
######### JAVA ##########
######### JAVA ##########







######### MONGODB ##########
######### MONGODB ##########
######### MONGODB ##########

    # - name: Tap brew repo with MongoDB
    #   ansible.builtin.shell: |
    #     brew tap mongodb/brew
    #   tags:
    #     - mongodb

    # - name: "Install MongoDB"
    #   ansible.builtin.shell:
    #     executable: /bin/zsh
    #     cmd: brew install mongodb-community
    #   tags:
    #     - mongodb

######### MONGODB ##########
######### MONGODB ##########
######### MONGODB ##########




######### HEROKU ##########
######### HEROKU ##########
######### HEROKU ##########

    # - name: Tap brew repo with Heroku CLI
    #   ansible.builtin.shell: |
    #     brew tap heroku/brew
    #   tags:
    #     - heroku

    # - name: "Install MongoDB"
    #   ansible.builtin.shell:
    #     executable: /bin/zsh
    #     cmd: |
    #       source ~/.bash_profile
    #       brew install heroku
    #   tags:
    #     - heroku

######### HEROKU ##########
######### HEROKU ##########
######### HEROKU ##########






######### NODEJS ##########
######### NODEJS ##########
######### NODEJS ##########

    - name: "Create .nvm folder in home directory"
      ansible.builtin.file:
        path: ~/.nvm
        state: directory
        mode: 0755
      tags:
        - nodejs

    - name: "Put nvm script in .bash-profile"
      ansible.builtin.blockinfile:
        path: ~/.zshrc
        block: |
          export NVM_DIR="$HOME/.nvm"
          [ -s "/opt/homebrew/opt/nvm/nvm.sh" ] && \. "/opt/homebrew/opt/nvm/nvm.sh" # This loads nvm
          [ -s "/opt/homebrew/opt/nvm/etc/bash_completion.d/nvm" ] && \. "/opt/homebrew/opt/nvm/etc/bash_completion.d/nvm"  # This loads nvm bash_completion
        marker: '# nvm init'
      tags:
        - nodejs

    - name: "Install NodeJS 16"
      ansible.builtin.shell:
        executable: /bin/zsh
        cmd: |
          nvm install 16
          nvm alias default 16
      tags:
        - nodejs

    - name: "Install nodemon"
      ansible.builtin.shell:
        executable: /bin/zsh
        cmd: |
          npm i -g nodemon
      tags:
        - nodejs

######### NODEJS ##########
######### NODEJS ##########
######### NODEJS ##########








### SSH ###
### SSH ###
### SSH ###

    - name: Mkdir for .ssh
      file:
       path: /Users/{{ lookup('env', 'USER') }}/.ssh
       state: directory
      tags:
        - ssh

### SSH ###
### SSH ###
### SSH ###






### BATTLE NET ###
### BATTLE NET ###
### BATTLE NET ###

    # Battle.net need to be installed from installer installed from brew
    # Lolwut
    - name: Install Battle.net
      ansible.builtin.shell:
        executable: /bin/zsh
        cmd: open /opt/homebrew/Caskroom/battle-net/latest/Battle.net-Setup.app

### BATTLE NET ###
### BATTLE NET ###
### BATTLE NET ###





    
### MYSQL ###
### MYSQL ###
### MYSQL ###

    # - name: Configure MySQL
    #   ansible.builtin.shell:
    #     executable: /bin/zsh
    #     cmd: mysql_secure_installation
    #   tags:
    #     - mysql

### MYSQL ###
### MYSQL ###
### MYSQL ###





### GIT ###
### GIT ###
### GIT ###

    - name: Configure git to use VSCode as default editor
      community.general.git_config:
        name: core.editor
        scope: global
        value: code
      tags:
        - git

    - name: Configure git username
      community.general.git_config:
        name: user.name
        scope: global
        value: Yanislav Igonin
      tags:
        - git

    - name: Configure git email
      community.general.git_config:
        name: user.email
        scope: global
        value: yanislavdabest@gmail.com
      tags:
        - git

    - name: Git Completition
      ansible.builtin.shell:
        executable: /bin/zsh
        cmd: |
          curl https://raw.githubusercontent.com/git/git/master/contrib/completion/git-completion.zsh -o ~/.git-completion.zsh
          chmod +x ~/.git-completion.zsh
          mkdir ~/.zsh
          mv ~/.git-completion.zsh ~/.zsh/_git
      tags:
        - git

    - name: "Put git completion script in .zshrc"
      ansible.builtin.blockinfile:
        path: ~/.zshrc
        block: |
          fpath=(~/.zsh $fpath)
        marker: '# git completion init'
      tags:
        - git

### GIT ###
### GIT ###
### GIT ###






### ETC ###
### ETC ###
### ETC ###

    - name: "Make alias for ls with exa"
      ansible.builtin.blockinfile:
        path: ~/.zshrc
        block: |
          alias ls="exa"
        marker: '# exa ls alias'

    - name: "Make alias for cat with bat"
      ansible.builtin.blockinfile:
        path: ~/.zshrc
        block: |
          alias cat="bat"
        marker: '# bat cat alias'

    - name: "Make alias for old python with python3"
      ansible.builtin.blockinfile:
        path: ~/.zshrc
        block: |
          alias python="python3"
        marker: '# python3 python alias'

### ETC ###
### ETC ###
### ETC ###

    
    # here we can add db dump


#    - name: Generate an OpenSSH keypair with the default values (4096 bits, rsa)
#      community.crypto.openssh_keypair:
#        path: /Users/{{ lookup('env', 'USER') }}/.ssh/id_rsa



#    - name: "Install from Mac app store"
#      shell: mas install {{ item }}
#      with_items:
#        - 1451685025 # wireguard